<h2>Welcome to Onboard</h2>

<% @rooms.each do |room| %>

	<div class="room">
		<%= link_to room_path(room) do %>

			<%= image_tag room.image(:thumbnail) %>
			<h3><%= room.name %></h3>
			
		<% end %>

	</div>

<% end %>